__pycache__
.venv
.DS_Store
TODO.txt

lazy-lock.json

config/easyeffects/db/

config/fish/*
!config/fish/config.fish
!config/fish/themes/

config/marktext/*
!config/marktext/preferences.json

*.swp
*.backup
